<div class="h-screen flex items-center justify-center">
    <form class="shadow-md rounded-md bg-white p-4 w-1/6" [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="mb-4">
            <h4 class="font-bold py-2">Login</h4>
            <h6 class="text-slate-600 text-base">
                Login to your account
            </h6>
        </div>

        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username">
            <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="{{hidePassword ? 'password' : 'text'}}"
            formControlName="password"
            placeholder="Password" type="password">
            <mat-icon matPrefix>lock</mat-icon>
            <mat-icon (click)="hidePassword = !hidePassword" matSuffix>
                {{ hidePassword ? 'visibility_off' : 'visibility' }}
            </mat-icon>
        </mat-form-field>
        <button type="submit" [disabled]="loginForm.invalid"
            class="w-full rounded-md border border-slate-200 disabled:bg-blue-400 py-2 px-3 bg-blue-700 text-white font-bold">Login
        </button>

        <div class="mt-4">
            <span class="text-slate-600">Don't have an account?</span>
            <a [routerLink]= "['/register']" class="text-blue-500 mx-1">Register</a>
        </div>
    </form>
</div>