.sidebar {
    width: 100px;
    background-color: white;
    border-right: 1px solid #ccc;
    position: relative;
    padding: 10px;
    max-width: 150px;
    min-width: 70px;
}

.sidebar nav ul {
    list-style: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    color: #333;
}

.sidebar .other-content {
    margin-top: 20px;
}

.sidebar .resizable-handle {
    width: 2px;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}