.sidebar .resizable-handle {
    width: 2px;
    cursor: ew-resize;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
}

.main-sidebar {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 50px;
    min-height: 100vh;
    width: 90.3px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar {
    padding-bottom: 10px;
}

.sidebar-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar-menu li a {
    display: block;
    padding: 10px;
    border-left: 3px solid transparent;
    border-bottom: 1px solid rgba(181,181,181,0.21);
}

.sidebar-menu li a:hover {
    border-left-width: 4px;
    border-left-color: #007bff;
}

.sidebar-menu li a:active {
    border-left-width: 4px;
    border-left-color: #007bff;
}