<aside class="main-sidebar shadow-sm" style="height: 973px;">
  <section class="sidebar" style="height: auto;">
    <ul class="sidebar-menu">
      <li>
        <a class="" href="/"><fa-icon class="w-4 mx-6" [icon]="faHome"></fa-icon></a>
      </li>
    </ul>
    <ul class="sidebar-menu">
      <li>
        <a href="/products"><fa-icon class="w-4 mx-6" [icon]="faDatabase"></fa-icon></a>
      </li>
    </ul>
  </section>
</aside>
<!-- <div class="sidebar h-full relative">
  <nav>
    
  </nav>
  <div class="resizable-handle" (mousedown)="startResizing($event)"></div>
</div> -->